##### 1- importing libs

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import os
import random

In [2]:
os.listdir()

['preprocessing.ipynb']

In [3]:
DATA_1 = '../dataset/dataset_1.csv'
DATA_2 = '../dataset/dataset_2.csv'

In [4]:
first = pd.read_csv(DATA_1, encoding='latin-1')
second = pd.read_csv(DATA_2, encoding='latin-1')

##### 2- data exploration

In [5]:
first.columns, second.columns

(Index(['id', 'text', 'instructions', 'source_text'], dtype='object'),
 Index(['text', 'label', 'prompt_name', 'source', 'RDizzl3_seven'], dtype='object'))

In [ ]:
first.head(3)

,id,text,instructions,source_text
0,6060D28C05B6,Some schools in United States ofter classes fr...,\nTask: Write a persuasive essay on whether or...,\nWhen considering the pros and cons of attend...

In [ ]:
second.head(3)

,text,label,prompt_name,source,RDizzl3_seven
0,Phones\n\nModern humans today are always on th...,0,Phones and driving,persuade_corpus,False

In [9]:
first.tail(3)

,id,text,instructions,source_text
2418,F610B3CBF3DF,"Winston Churchill once said ""success consists ...",\nTask: Write an essay about how having a few ...,\nItâs human nature to be afraid to make mis...
2419,F610C7BCD9EC,Technology seems to be becoming more and more ...,\nTask: \n\nWrite an essay exploring the pros ...,\nOne of the main debates of 2020 for many stu...
2420,F6194DEBEFA7,Teenage is a part of life where everyone wants...,\nTask: Analyze and explore the benefits of im...,\nThe implementation of a curfew for teenagers...

In [10]:
second.tail(3)

,text,label,prompt_name,source,RDizzl3_seven
44865,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44866,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True
44867,"Dear Senator,\n\nI am writing to you today to ...",1,Does the electoral college work?,kingki19_palm,True

In [19]:
first['source_text'].duplicated().sum() ,first['text'].duplicated().sum()

(0, 0)

In [23]:
second['text'].duplicated().sum()

0