##### 1- importing libs

In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import os
import random

In [4]:
os.listdir()

['dataset', 'preprocessing.ipynb']

In [5]:
DATA = 'dataset/daigt_external_dataset.csv'

In [6]:
dataset = pd.read_csv(DATA, encoding='latin-1')

##### 2- data exploration

In [7]:
dataset.columns

Index(['id', 'text', 'instructions', 'source_text'], dtype='object')

In [10]:
dataset.head(1)

,id,text,instructions,source_text
0,6060D28C05B6,Some schools in United States ofter classes fr...,\nTask: Write a persuasive essay on whether or...,\nWhen considering the pros and cons of attend...

In [34]:
human_text = dataset['text'].tolist()
ai_text = dataset['source_text'].tolist()

# Calculate lengths
n_human = len(human_text)
n_ai = len(ai_text)

# Initialize label array: zeros for human, ones for AI
labels = np.concatenate([np.zeros(n_human, dtype=int), np.ones(n_ai, dtype=int)])
all_text = human_text + ai_text

In [35]:
new_dataset = pd.DataFrame({
    'text': all_text,
    'label': labels
})

In [36]:
new_dataset.head()

                                                text  label
0  Some schools in United States ofter classes fr...      0
1  Four-day work week, a remarkable idea to conse...      0
2  Students and their families should consider an...      0
3  Agree you will never grow if something beyond ...      0
4  I think our character traits are formed by inf...      0